.popup-anchor {
    @include se-flex-row(center);
    @include fd-type('1');
    padding-top: 5px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    &--open {
        background-color: fd-color('neutral', 2);
    }
}

.workflow-item-menu {
    @include se-dropdown-menu('right', 'no-arrow');
    transform: translate(5px, 8px);
    right: -11px;
    top: -8px;
}

.workflow-description {
    min-width: 225px;
    padding: 20px;

    &__label {
        color: fd-color('text', 1);
        display: flex;
        justify-content: space-between;

        .sap-icon--edit {
            cursor: pointer;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__description {
        color: fd-color('text', 2);
    }
}

.workflow-cancel-btn {
    cursor: pointer;
    padding: 12px 20px;
    border-top: 1px solid fd-color('neutral', 1);
}
