.se-version-item-context {
    @include se-flex-row();
    height: 40px;
    border-right: se-border();

    .sap-icon--navigation-right-arrow {
        padding-right: fd-space('xs');
        color: fd-color('text', 2);
    }

    &__info {
        @include se-flex-column();
    }
    &__info-label {
        @include fd-weight('bold');
        @include fd-type('-1');
        @include se-text-ellipsis;
        max-width: 90px;
    }
    &__info-date {
        color: fd-color('text', 3);
        @include fd-type('-1');
    }
    &__remove-btn {
        padding: 0;
        margin: fd-space('xxs');
        min-width: 20px;
        height: 20px;
        color: fd-color('text', 1);
        background: transparent;
        border: transparent;
        line-height: 1;
        &::before {
            margin: 0 !important;
        }
    }

    &__description-wrapper {
        word-wrap: break-word;
    }
}
