.se-slider-panel-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1060;
}
.se-slider-panel-container {
    @include se-flex-column();
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    background-color: fd-color('background', 2);
    border-radius: fd-space('base');
    width: 650px;
}
.se-slider-panel__header {
    @include se-container-section('header');
}
.se-slider-panel__body {
    @include se-container-section('body');
    height: 70vh;
    min-height: 500px;
    flex: 1 1 auto;
}
.se-slider-panel__footer {
    @include se-container-section('footer');
}

// Slide Animation
.slide-in {
    animation: slide-in 0.4s forwards;
    -webkit-animation: slide-in 0.4s forwards;
}
@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}
@-webkit-keyframes slide-in {
    100% {
        -webkit-transform: translateX(0%);
    }
}

//add overlay when the slider panel is on top of the modal
:host-context(.fd-modal-container).sliderpanel--animated {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    display: flex;
}

:host-context(.fd-modal-container).sliderpanel--animated .se-slider-panel-wrapper {
    top: auto;
}

:host-context(.fd-modal-container).sliderpanel--animated
    .se-slider-panel-wrapper
    .se-slider-panel__body {
    max-height: calc(100vh - 128px);
    min-height: auto;
}