.se-synchronize-catalog {
    @include se-flex-row(flex-end);

    &__sync-info {
        @include se-flex-row();
    }

    &__sync-btn {
        margin-left: 20px;
    }

    &__sync-info__sync-label:first-child {
        font-weight: 700;
    }

    &__sync-info__sync-label,
    &__sync-info__last-synched {
        color: fd-color('text', 3);
        display: block;
        text-align: right;
        margin: 0;
    }

    &__in-progress {
        color: fd-color('status', 1);
    }

    &__sync-failed {
        color: fd-color('status', 3);
    }
}
