#Ant properties
#Mon Apr 11 09:22:16 CST 2022
personalizationsmartedit.smartedittools.config=true
merchandisingsmartedit.smartedittools.config=true
smartedit.smartedittools.config=yes
personalizationsearchsmartedit.smartedittools.config=true
personalizationpromotionssmartedit.smartedittools.config=true
cmssmartedit.smartedittools.config=true
