.se-workflow-inbox-toggle {
    outline: none;
}

.se-workflow-inbox-header {
    @include se-container-section('header', 'dropdown');
    @include fd-type('1');
    color: fd-color('text', 1);
    border-bottom: se-border();
    padding: 10px 0 15px 20px;
    height: 46px;
}

.se-workflow-inbox-tasks {
    padding: fd-space('s') 0 fd-space('tiny');
    width: 280px;

    &__no-tasks {
        @include se-flex-column(center);
    }
}

.se-workflow-inbox__empty-inbox-message {
    color: fd-color('text', 2);
    padding: fd-space('xxs') 0 fd-space('base');
}
.se-workflow-inbox__empty-inbox-message-alt {
    font-size: 13px;
    color: fd-color('text', 3);
    padding-bottom: 30px;
}
