se-catalog-hierarchy-modal {
    display: block;
    min-width: 400px;
}

.se-catalog-hierarchy-header {
    background-color: var(--sapBackgroundColor);
    color: #000;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px 20px;
    font-size: 12px;
}

.se-catalog-hierarchy-body {
    margin-bottom: -20px;
}
