se-media-printer {
    .se-media-selector {
        @include se-flex-row;
        position: relative;

        &__left-section {
            @include se-flex-row(center);
            background-color: fd-color('neutral', 2);
            position: relative;
            width: 135px;
            height: 80px;
        }
        &__right-section {
            @include se-flex-column;
            margin-left: 20px;
        }
        &__search {
            @include se-flex-row;

            &-img-wrapper {
                @include se-flex-row(center);
                background-color: fd-color('neutral', 2);
                width: 135px;
                height: 65px;
                margin-right: fd-space('s');
            }
            &-img {
                max-width: 100%;
                max-height: 100%;
                margin: 12px;
            }
            &-name {
                @include se-text-ellipsis;
                max-width: 70%;
            }
        }
    }
}
