.se-page-workflow-tasks-wrapper {
    max-height: 400px;
    overflow-y: scroll;
    padding: 15px 15px 0 15px;
    width: 100%;

    .fd-panel {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
        max-width: 320px;
    }
}
