.se-dropdown-item {
    &__delete-wrapper {
        @include se-flex-row();
        width: 100%;
    }

    &__delete-page-popover {
        margin-right: fd-space('s');
        .sap-icon--message-error {
            color: fd-color(action, 1);
        }
    }

    &__delete-link-wrapper {
        width: 100%;

        &--disabled {
            cursor: not-allowed;
        }
    }
}
