.se-media-preview {
    display: block;
    cursor: pointer;
    position: absolute;
    height: 24px;
    width: 24px;
    top: 0;
    right: 0;

    &__icon {
        @include se-flex-row(center);
        @include fd-type('1');
        outline: none;
        background-color: fd-color('action', 1);
        color: fd-color('text', 5);
        height: 24px;
        width: 24px;
    }
}
// Image in Popover
.se-media-preview__image {
    width: 160px;
    height: auto;
}
