<se-tooltip
    [appendTo]="'body'"
    [placement]="'bottom'"
    [isChevronVisible]="true"
    [triggers]="['click']"
    class="se-media-advanced-info"
>
    <span se-tooltip-trigger class="se-media-advanced-info__trigger">
        <span
            class="sap-icon--message-information se-media__action-icon se-media__action-icon--basic"
            [title]="i18nKeys.INFORMATION | translate"
        ></span>
        <se-media-action-label [i18nKey]="i18nKeys.INFORMATION"></se-media-action-label>
    </span>

    <div se-tooltip-body>
        <div class="se-media-advanced-info-body">
            <div
                class="se-media-advanced-info-row advanced-information-description"
                *ngIf="description"
            >
                <div
                    class="se-media-advanced-info-row__label se-control-label"
                    [translate]="i18nKeys.DESCRIPTION"
                ></div>
                <div class="se-media-advanced-info-row__description">{{ description }}</div>
            </div>
            <div class="se-media-advanced-info-row advanced-information-code">
                <div
                    class="se-media-advanced-info-row__label se-control-label"
                    [translate]="i18nKeys.CODE"
                ></div>
                <div class="se-media-advanced-info-row__description">{{ code }}</div>
            </div>
            <div class="se-media-advanced-info-row advanced-information-alt-text" *ngIf="altText">
                <div
                    class="se-media-advanced-info-row__label se-control-label"
                    [translate]="i18nKeys.ALT_TEXT"
                ></div>
                <div class="se-media-advanced-info-row__description">{{ altText }}</div>
            </div>
        </div>
    </div>
</se-tooltip>
