.se-sync-panel-header {
    padding: 0 20px 20px;
    border-bottom: se-border();
    min-width: 400px;

    &__sub-header {
        padding-top: fd-space('base');
        color: fd-color('text', 2);
    }

    &__timestamp {
        @include fd-type('-1');
        color: fd-color('text', 2);
        position: absolute;
        left: 20px;
        bottom: 23px;
        width: 150px;
    }
}

.se-sync-panel-new-page {
    padding: 20px;

    &__header {
        @include fd-weight('bold');
        padding-bottom: fd-space('base');
    }

    &__message {
        white-space: normal;
    }
}
