.se-versions-panel {
    .se-toolbar-menu-content__header {
        @include se-container-section('header', 'dropdown');
    }

    .se-versions-toolbar-menu-content__body {
        $container: '.se-infinite-scrolling__container';
        #{$container} {
            width: 340px;
            max-height: 350px;
            overflow-y: auto;
            margin-bottom: fd-space('xxs');
        }
        &--narrow {
            #{$container} {
                width: 300px;
            }
        }
    }

    &__empty-list {
        @include se-flex-column(center);
        color: fd-color('text', 2);
        width: 280px;
        padding: 20px;
    }
    &__no-versions-message {
        padding: fd-space('xxs') 0 fd-space('base');
    }
    &__manage-link {
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
            text-decoration: none;
        }
    }
}
