.se-category-node {
    padding: 0 fd-space('s');
    display: grid;
    grid-column-gap: fd-space('xs');
    align-items: center;

    &--no-drag {
        grid-template-columns: 6fr 6fr 8fr;
    }
    &--drag {
        grid-template-columns: 6fr 6fr 7fr 1fr;
    }
}
