<div class="se-page-list">
    <se-toolbar
        cssClass="se-toolbar--shell"
        imageRoot="imageRoot"
        toolbarName="smartEditHeaderToolbar"
    ></se-toolbar>
    <se-toolbar
        cssClass="se-toolbar--shell se-toolbar--shortcut"
        imageRoot="imageRoot"
        toolbarName="smartEditPagesToolbar"
    ></se-toolbar>

    <div *ngIf="isReady">
        <div class="se-page-list__header">
            <span class="se-page-list__catalog-name" translate="se.cms.pagelist.title"></span>
            <p class="se-page-list__sub-title">
                {{ catalogName | seL10n | async }} - {{ catalogVersion }}
            </p>
        </div>

        <div class="se-page-list__body">
            <div class="se-page-list__table-header">
                <span class="se-paged-list__page-count-wrapper">
                    <span
                        class="span-page-list__page-count-text"
                        translate="se.pagelist.countsearchresult"
                    ></span>
                    <span>&nbsp;</span>
                    <span class="se-page-list__page-count">({{ count }})</span>
                </span>
                <div class="se-page-list__table-header--right">
                    <div class="fd-form__group se-page-list__search">
                        <div class="se-input-group">
                            <input
                                type="search"
                                class="se-input-group__input-area ySEPage-list-search-input"
                                maxlength="255"
                                name="query"
                                [ngModel]="query"
                                (ngModelChange)="onQueryChange($event)"
                                [placeholder]="'se.cms.pagelist.searchplaceholder' | translate"
                            />
                            <span class="sap-icon--search se-input-group__addon"></span>
                            <div
                                *ngIf="query"
                                aria-label="clear"
                                class="se-input-group__addon se-input-group__clear-btn"
                                (click)="reset()"
                            >
                                <span class="sap-icon--decline"></span>
                            </div>
                        </div>
                    </div>
                    <button
                        class="fd-button se-page-list__add"
                        (click)="openAddPageWizard()"
                        translate="se.cms.addpagewizard.addpage"
                    ></button>
                </div>
            </div>
            <div class="se-page-list__table-body">
                <se-dynamic-paged-list
                    [config]="pageListConfig"
                    [mask]="query"
                    (getApi)="getApi($event);"
                    (onItemsUpdate)="onPageItemsUpdate($event.pagination)"
                >
                </se-dynamic-paged-list>
            </div>
        </div>
    </div>
</div>
