<div class="se-toolbar-group">
    <se-toolbar
        cssClass="se-toolbar--shell"
        imageRoot="imageRoot"
        toolbarName="smartEditHeaderToolbar"
    ></se-toolbar>
    <se-toolbar
        cssClass="se-toolbar--experience"
        imageRoot="imageRoot"
        toolbarName="smartEditExperienceToolbar"
    ></se-toolbar>
    <se-toolbar
        cssClass="se-toolbar--perspective"
        imageRoot="imageRoot"
        toolbarName="smartEditPerspectiveToolbar"
    ></se-toolbar>
</div>
<div id="js_iFrameWrapper" class="iframeWrapper">
    <iframe id="ySmartEditFrame" src=""></iframe>
    <div id="ySmartEditFrameDragArea"></div>
</div>
