<div class="target-catalog-version-selector-wrapper form-group">
    <label
        for="target-catalog-version-selector-id"
        class="se-control-label"
        translate="se.cms.clonepagewizard.options.targetcatalogversion.label"
    ></label>

    <se-select
        *ngIf="!!catalogVersions.length"
        id="se-catalog-version-selector-dropdown"
        [(model)]="selectedCatalogVersion"
        [fetchStrategy]="catalogVersionSelectorFetchStrategy"
        [onChange]="onSelectionChange"
        [searchEnabled]="false"
        (getApi)="setSelectApi($event)"
    >
    </se-select>

    <div *ngIf="catalogVersionContainsPageWithSameLabel">
        <span
            class="help-block"
            translate="se.cms.clonepagewizard.options.targetcatalogversion.label.exists.message"
        ></span>
    </div>
    <div *ngIf="pageAlreadyExists()">
        <span
            class="help-block"
            translate="se.cms.clonepagewizard.options.targetcatalogversion.pagetype.exists.message"
        ></span>
    </div>
</div>
