<a
    id="deepLink"
    href="/node_modules/@smartedit/storefront-generator/dummystorefront/dummystorefrontSecondPage.html"
    >Go To Second Page</a
>
<a
    id="deepLinkFailsWhenNewExperience"
    href="/node_modules/@smartedit/storefront-generator/dummystorefront/dummystorefrontOtherPage.html"
    >Go To Other Page</a
>
<a
    id="deepLinkRequireJs"
    href="/node_modules/@smartedit/storefront-generator/dummystorefront/dummystorefrontRequireJsPage.html"
    >Go To RequireJs Page</a
>
<a
    id="thirdPage"
    href="/node_modules/@smartedit/storefront-generator/dummystorefront/dummystorefrontThirdPage.html"
    >Go To Third Page</a
>
<a
    id="deepLinkToAngularStorefront"
    href="/node_modules/@smartedit/storefront-generator/dummystorefront/dummyAngularStorefront.html"
    >Go To Angular Storefront</a
>
