.se-toolbar-menu-ddlb--button {
    &__icon {
        position: relative;
    }

    &__caution {
        position: absolute;
        color: fd-color('status', 2);
        right: -9px;
        bottom: 1px;
    }
}

.se-sync-menu-content {
    &__header {
        padding: 15px 20px 0;
    }
    &__header-title {
        text-transform: capitalize;
        @include fd-type('1');
        color: fd-color('text', 1);
    }

    &__dropdown {
        @include se-dropdown-menu('left');
        max-width: 400px;
    }
}
