<div class="se-page-list">
    <se-toolbar
        cssClass="se-toolbar--shell"
        imageRoot="imageRoot"
        toolbarName="smartEditHeaderToolbar"
    ></se-toolbar>
    <se-toolbar
        cssClass="se-toolbar--shell ySmartEditTrashPageToolbar"
        imageRoot="imageRoot"
        toolbarName="smartEditTrashPageToolbar"
    ></se-toolbar>

    <div class="se-page-list__header">
        <span class="se-page-list__catalog-name" translate="se.cms.trashedpagelist.title"></span>
        <p class="se-page-list__sub-title">
            {{ catalogName | seL10n | async }} - {{ catalogVersion }}
        </p>
    </div>

    <div class="se-page-list__body">
        <div class="se-page-list__table-header">
            <span class="se-paged-list__page-count-wrapper">
                <span
                    class="span-page-list__page-count-text"
                    translate="se.pagelist.countsearchresult"
                ></span>
                <span>&nbsp;</span>
                <span class="se-page-list__page-count">({{ count }})</span>
            </span>

            <div class="fd-form__group se-page-list__search">
                <div class="se-input-group">
                    <input
                        type="search"
                        class="se-input-group__input-area ySEPage-list-search-input"
                        placeholder="{{ 'se.cms.pagelist.searchplaceholder' | translate }}"
                        [ngModel]="mask"
                        (ngModelChange)="onMaskChange($event)"
                        name="mask"
                    />
                    <span class="sap-icon--search se-input-group__addon"></span>
                    <div
                        *ngIf="mask"
                        aria-label="clear"
                        class="se-input-group__addon se-input-group__clear-btn"
                        (click)="reset()"
                    >
                        <span class="sap-icon--decline"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="se-page-list__table-body">
            <se-dynamic-paged-list
                class="se-trashed-pages"
                [config]="trashedPageListConfig"
                [mask]="mask"
                (getApi)="getApi($event);"
                (onItemsUpdate)="onPageItemsUpdate($event.pagination)"
            >
            </se-dynamic-paged-list>
        </div>
    </div>
</div>
