<div class="se-media-upload__file-info-field" [ngClass]="getContainerClassName()">
    <label
        class="se-control-label"
        [ngClass]="{ 'se-media-upload-has-error': hasError(), required: isRequired }"
        [translate]="labelI18nKey"
    ></label>
    <input
        type="text"
        [ngClass]="{ 'is-invalid': hasError() }"
        class="fd-form__control"
        [attr.name]="fieldName"
        [ngModel]="fieldValue"
        (ngModelChange)="onChangeValue($event)"
    />
    <span
        class="upload-field-error fd-form__message fd-form__message--error"
        [ngClass]="getErrorClassName()"
        *ngFor="let error of fieldErrors"
        >{{ error | translate }}</span
    >
</div>
