<div class="se-versions-panel__search" *ngIf="showSearchControls">
    <div class="se-input-group">
        <input
            type="text"
            class="se-input-group__input-area"
            name="search-term"
            [ngModel]="searchTerm"
            (ngModelChange)="onChange($event)"
            [placeholder]="'se.cms.versions.search.placeholder' | translate"
        />
        <span class="sap-icon--search se-input-group__addon"></span>
        <button
            class="se-input-group__addon se-input-group__clear-btn se-button--text"
            [style.visibility]="showResetButton ? 'visible' : 'hidden'"
            (click)="resetSearchBox()"
        >
            <span class="sap-icon--decline"></span>
        </button>
    </div>

    <span
        class="se-versions-panel__count"
        [translate]="'se.cms.versions.search.versions.found'"
        [translateParams]="{ versionsFound: versionsFoundCount }"
    >
    </span>
</div>
