<div class="se-media-upload-form">
    <div class="se-media-upload-form__header">
        <div
            class="se-media-upload-form__header-title"
            translate="se.upload.image.to.library"
        ></div>
        <div class="se-media-upload-form__header-actions">
            <button
                type="button"
                class="fd-button--light se-media-upload-btn__cancel fd-button--compact"
                translate="se.upload.image.cancel"
                (click)="cancel()"
            ></button>
            <button
                type="button"
                class="fd-button se-media-upload-btn__submit fd-button--compact"
                translate="se.upload.image.submit"
                (click)="uploadMedia()"
            ></button>
        </div>
    </div>

    <div class="se-media-upload-form__replace-file">
        <div class="se-media-upload-form__file-name">{{ image.name }}</div>
        <se-media-file-selector
            [labelI18nKey]="'se.upload.image.replace'"
            [acceptedFileTypes]="acceptedFileTypes"
            (onFileSelect)="onFileSelect($event)"
        ></se-media-file-selector>
    </div>

    <form class="se-media-upload-form__file-info">
        <se-media-upload-field
            [fieldName]="'code'"
            [fieldValue]="imageParams.code"
            [fieldErrors]="getErrorsForFieldByCode('code')"
            [isRequired]="true"
            [labelI18nKey]="'se.uploaded.image.code'"
            (fieldValueChange)="onChangeFieldValue($event, 'code')"
        >
        </se-media-upload-field>

        <se-media-upload-field
            [fieldName]="'description'"
            [fieldValue]="imageParams.description"
            [fieldErrors]="getErrorsForFieldByCode('description')"
            [isRequired]="true"
            [labelI18nKey]="'se.uploaded.image.description'"
            (fieldValueChange)="onChangeFieldValue($event, 'description')"
        >
        </se-media-upload-field>

        <se-media-upload-field
            [fieldName]="'alt-text'"
            [fieldValue]="imageParams.altText"
            [fieldErrors]="getErrorsForFieldByCode('altText')"
            [isRequired]="true"
            [labelI18nKey]="'se.uploaded.image.alt.text'"
            (fieldValueChange)="onChangeFieldValue($event, 'altText')"
        >
        </se-media-upload-field>
    </form>

    <se-spinner [isSpinning]="isUploading"></se-spinner>
</div>
